.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 15px 0;
  z-index: 10;
  font-family: var(--font-family-secondary);
  // border-bottom: 1px solid #fcbf49;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }
  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
    }

    &-item {
      position: relative;

      svg {
        cursor: pointer;
      }

      &:hover svg * {
        fill: var(--color-accent);
      }
      &--basket-container {
        margin-right: 10px;
      }

      &--basket {
        @include fluid-text(15, 13);
        position: absolute;
        top: -5px;
        left: 12px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-dark);
        background-color: var(--color-accent);
        border-radius: var(--border-radius-small);
      }
    }
    &-link {
      @include reset-button;
      color: inherit;
      cursor: pointer;

      @include hover {
        color: var(--color-accent);
      }
    }
  }
}
