.hero {
  height: 100svh;

  background: url('public/images/hero-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    height: calc(100svh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
