.price {
  background: url('public/images/price-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 418px;

  &__inner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    max-width: 50%;
  }
  &__title {
    text-align: right;
  }
  &__description {
    @include fluid-text(18, 16);
    text-align: justify;
    line-height: 29px;
    align-items: flex-end;
  }
}
