.product {
  &__item {
    border-radius: var(--border-radius-small);
    background-color: var(--color-dark-alt);
  }
  &__info-wrapper {
    padding: 25px 37px 37px 37px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__photo {
    border-radius: var(--border-radius-small);
    overflow: hidden;
    height: 547px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    @include fluid-text(16, 12);

    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 27px;

    text-align: justify;

    &-title {
      @include fluid-text(24, 20);

      height: 60px;
      font-family: var(--font-family-secondary);

      margin-bottom: 10px;
      text-align: center;
    }
    &-quality {
      @include fluid-text(17, 15);
      font-weight: 400;
      margin-bottom: 10px;
      text-align: center;
      color: #848895;
    }
    & span {
      font-weight: 400;
    }
  }

  &__button {
    width: 100%;
  }
}
