@font-face {
  font-family: 'TT Foxford';
  src: url('public/fonts/TTFoxfordExtraBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('public/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
