:root {
  --color-dark: #000;
  --color-dark-alt: #19161c;

  --color-light: #fff;

  --color-accent: #fcbf49;
  --color-transparent: transparent;

  --shadow: 10px 11px 20px 0 rgba(0, 0, 0, 0.45);

  --border-radius-small: 12px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  --section-padding-y: 40px;

  --font-family-primary: 'Montserrat Regular', sans-serif;
  --font-family-secondary: 'TT Foxford', sans-serif;

  --container-width: 1718px;
  --container-padding-x: 20px;
  --transition-duration: 450ms;
}
